body {

    font-family: Arial;
    padding: 20px;
}

#products {

    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.product {

    border: 1px solid gray;
    padding: 15px;
    width: 200px;
}

button {

    padding: 10px;
    cursor: pointer;
}